@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
    
body {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
    height: 2%;
    background-color: #111849;
}

.header__nav {
    
    display: none;
    position: absolute;
    top: 35%;
    left: 27%;
    font-weight: 700;
    font-size: 20px;
}

.header__active {
    background-color: #111849;
    min-height: 117vh;
    display: flex;
    align-items: start;
    transition: all 0.5s ease-in-out;
}

.nav__ul {
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.nav__active {
    display: block;
}

i {
    font-size: 43px;
}

a {
    color: #FFFFFF;
    font-size: 30px;
}

/* Шапка */

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.header__wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header__desc {
    font-weight: 700;
    font-size: 25px;
    animation-delay: 2s;

}

h1 {
    font-weight: 700;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 60px;
}

.card p {
    color: #5975FF;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.card {
    width: 270px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin: 30px auto;
}

.card img {
    border-radius: 8px;
}

.podderzka__title {
    transform: rotate(-22deg);

    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: 600;
    font-size: 20px;
}

.podderzka__img {
    transform: rotate(-20deg);

    position: absolute;
    top: -5px;
    left: 20px;
    width: 150px;
}

.podderzka img {
    width: 100%;
}

.podderzka__title2 {
    transform: rotate(-25deg);

    position: absolute;
    top: 15px;
    right: 70px;
    font-weight: 600;
    font-size: 20px;
}

.podderzka__img2 {
    transform: rotate(-20deg);  
    position: absolute;
    top: -5px;
    right: 50px;
    width: 150px;
}

.podderzka2 img {
    width: 100%;
}

.podderzka2 {
    animation-delay: 1s;
}